Repository grafana/cog, pull requests merged in 2024-09, with the labels that each got.

#530 Version: Adds v11.2.x kind-registry version
  scripts/release-all.sh
Labels: area:cli

#529 Rules: Add DefaultToConstant rule
  config/veneers/dashboard.common.yaml
  internal/veneers/builder/rules.go
  internal/yaml/builder.go
Labels: area:parsers, area:veneers

#531 Java: Avoid to show fields in json output when they aren't set and nullable
  internal/jennies/java/jsonmarshalling.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/types.go
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Variable.java
  testdata/jennies/builders/foreign_builder/JavaBuilders/some_pkg/SomeStruct.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/LegendOptions.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/Options.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/Config.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/package-with-dashes/JavaBuilders/withdashes/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/Options.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/other_pkg/Name.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#533 Java: Check more kinds to put the proper annotation
  internal/jennies/java/types.go
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/Options.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/Options.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: bug, area:jennies, language:java

#543 Deterministic output for disjunction encoding/decoding in PHP
  internal/jennies/php/rawtypes.go
  internal/tools/maps.go
Labels: area:jennies, language:php

#544 Deterministic output for disjunction decoding in python
  internal/jennies/python/rawtypes.go
Labels: area:jennies, language:python

#545 Always trigger a release in foundation-sdk when a package file is modified
  repository_templates/java/.github/workflows/java-release.yaml
  repository_templates/python/.github/workflows/python-release.yaml
  repository_templates/typescript/.github/workflows/typescript-release.yaml
  scripts/release-version.sh
Labels: area:jennies

#547 Sort plugin imports in Python to make output deterministic
  internal/jennies/python/imports.go
  internal/jennies/python/runtime.go
Labels: area:jennies, language:python

#561 Add provenance publish config for typescript foundation-sdk package
  package_templates/typescript/package.json
  repository_templates/typescript/.github/workflows/typescript-release.yaml
Labels: language:typescript

#563 Set the `piechart.Options.displayLabels` field as optional
  config/compiler/kind_registry.yaml
Labels: area:schemas

#567 Use the datasource type within queries to unmarshal them
  internal/jennies/golang/templates/runtime/runtime.tmpl
  testdata/generated/cog/runtime.go
Labels: language:golang, area:jennies
