Repository grafana/cog, pull requests merged in 2024-10, with the labels that each got.

#571 Update phpstan config in foundation-sdk
  repository_templates/php/.config/ci/php/phpstan.neon
Labels: area:jennies, language:php

#572 Fix missing builders due to incorrect ComposeDashboardPanel veneer
  devbox.lock
  internal/ast/builder.go
  internal/veneers/builder/rules.go
Labels: bug, area:veneers

#574 Restore missing team.Team object
  config/compiler/team.yaml
  config/foundation_sdk.dev.yaml
Labels: area:schemas

#576 Simplify template helpers management in PHP
  internal/jennies/php/builder.go
  internal/jennies/php/converter.go
  internal/jennies/php/rawtypes.go
  internal/jennies/php/tmpl.go
  internal/jennies/php/tools.go
Labels: area:jennies, language:php

#588 Convert "UnknownDataquery" to PHP
  internal/jennies/php/runtime.go
  internal/jennies/php/templates/runtime/runtime.tmpl
  internal/jennies/php/templates/runtime/unknown_dataquery.tmpl
  internal/jennies/php/templates/runtime/unknown_dataquery_builder.tmpl
Labels: area:jennies, language:php

#589 Publish the Go & PHP converters to the foundation-sdk
  config/foundation_sdk.yaml
Labels: language:golang, language:php

#597 Java: Create DataqueryConfig and function to return the dataquery name
  internal/jennies/java/rawtypes.go
  internal/jennies/java/registry.go
  internal/jennies/java/templates/runtime/dataquery_config.tmpl
  internal/jennies/java/templates/runtime/registry.tmpl
  internal/jennies/java/templates/runtime/unknown_dataquery.tmpl
  internal/jennies/java/templates/runtime/variants.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/dataquery_variant_builder/builders_context.json
  testdata/jennies/rawtypes/variant_dataquery/JavaRawTypes/variant_dataquery/Query.java
Labels: area:jennies, language:java

#614 Correctly extract comments from object fields in OpenAPI schemas
  internal/openapi/generator.go
  testdata/openapi/datatypes/GenerateAST/ir.json
  testdata/openapi/datatypes/schema.json
  testdata/openapi/split_schema/GenerateAST/ir.json
Labels: bug, area:parsers
