Repository grafana/cog, pull requests merged in 2024-11, with the labels that each got.

#611 Java: Constructors for no builders
  examples/java/src/main/java/test/CPU.java
  examples/java/src/main/java/test/Common.java
  examples/java/src/main/java/test/Disk.java
  examples/java/src/main/java/test/Main.java
  examples/java/src/main/java/test/Memory.java
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/types/args.tmpl
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  internal/jennies/java/tmpl.go
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Variable.java
  testdata/jennies/builders/foreign_builder/JavaBuilders/some_pkg/SomeStruct.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/LegendOptions.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/Options.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/Config.java
  testdata/jennies/builders/package-with-dashes/JavaBuilders/withdashes/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/other_pkg/Name.java
  testdata/jennies/rawtypes/arrays/JavaRawTypes/arrays/SomeStruct.java
  testdata/jennies/rawtypes/constraints/JavaRawTypes/constraints/RefStruct.java
  testdata/jennies/rawtypes/constraints/JavaRawTypes/constraints/SomeStruct.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/Dashboard.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/DataSourceRef.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/Panel.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/BoolOrRef.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/SomeOtherStruct.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/SomeStruct.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/YetAnotherStruct.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructComplexField.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructComplexFieldNested.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructPartialComplexField.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/NestedStruct.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/Struct.java
  testdata/jennies/rawtypes/intersections/JavaRawTypes/intersections/SomeStruct.java
  testdata/jennies/rawtypes/maps/JavaRawTypes/maps/SomeStruct.java
  testdata/jennies/rawtypes/package-with-dashes/JavaRawTypes/withdashes/SomeStruct.java
  testdata/jennies/rawtypes/refs/JavaRawTypes/refs/RefToSomeStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/StringOrSomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/StructComplexFieldsSomeStructFieldAnonymousStruct.java
  testdata/jennies/rawtypes/struct_with_defaults/JavaRawTypes/defaults/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/StructOptionalFieldsSomeStructFieldAnonymousStruct.java
  testdata/jennies/rawtypes/struct_with_scalar_fields/JavaRawTypes/basic/SomeStruct.java
  testdata/jennies/rawtypes/time_hint/JavaRawTypes/time_hint/ObjWithTimeField.java
  testdata/jennies/rawtypes/variant_dataquery/JavaRawTypes/variant_dataquery/Query.java
  testdata/jennies/rawtypes/variant_panelcfg_full/JavaRawTypes/variant_panelcfg_full/Options.java
  testdata/jennies/rawtypes/variant_panelcfg_only_options/JavaRawTypes/variant_panelcfg_only_options/Options.java
Labels: area:jennies, language:java

#634 fix: expose a "data links" option in panel builders
  config/compiler/kind_registry.yaml
  config/veneers/dashboard.common.yaml
Labels: area:veneers, area:schemas

#638 Java: Fix deserializers NPE
  internal/jennies/java/builders.go
  internal/jennies/java/templates/marshalling/unmarshalling.tmpl
  internal/jennies/java/templates/runtime/registry.tmpl
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
Labels: area:jennies, language:java

#644 Support fine-grained configuration of Validate()/Equal()/UnmarshalJSO…
  config/foundation_sdk.dev.yaml
  config/foundation_sdk.tests.yaml
  config/foundation_sdk.yaml
  internal/jennies/golang/jennies.go
  internal/jennies/golang/rawtypes.go
  internal/jennies/golang/rawtypes_test.go
  schemas/pipeline.json
Labels: language:golang, area:jennies

#652 Remove the DashboardPanels compiler pass
  config/compiler/kind_registry.yaml
  docs/compiler_passes.md
  internal/ast/compiler/dashboardpanels.go
  internal/ast/compiler/dashboardpanels_test.go
  internal/ast/types.go
  internal/yaml/compilerpasses.go
  schemas/compiler_passes.json
  schemas/veneers.json
Labels: area:IR

#654 More descriptive errors in builder veneers
  internal/veneers/builder/rules.go
Labels: area:veneers

#657 Remove the `GoogleCloudMonitoring` compiler pass
  config/compiler/kind_registry.yaml
  docs/compiler_passes.md
  internal/ast/compiler/googlecloudmonitoring.go
  internal/yaml/compilerpasses.go
  schemas/compiler_passes.json
Labels: area:IR

#655 Remove the `LibraryPanels` compiler pass
  config/compiler/kind_registry.yaml
  docs/compiler_passes.md
  internal/ast/compiler/constants.go
  internal/ast/compiler/duplicate_object.go
  internal/ast/compiler/librarypanels.go
  internal/ast/compiler/librarypanels_test.go
  internal/ast/compiler/types.go
  internal/ast/compiler/visitor.go
  internal/yaml/compilerpasses.go
  schemas/compiler_passes.json
Labels: area:IR

#658 Support user-defined packages mapping in TS
  helpers.go
  internal/jennies/common/importmap.go
  internal/jennies/typescript/builder.go
  internal/jennies/typescript/builder_test.go
  internal/jennies/typescript/imports.go
  internal/jennies/typescript/jennies.go
  internal/jennies/typescript/rawtypes.go
  internal/jennies/typescript/rawtypes_test.go
  schemas/pipeline.json
Labels: language:typescript, area:jennies

#659 Remove the `Cloudwatch` compiler pass
  config/compiler/kind_registry.yaml
  docs/compiler_passes.md
  internal/ast/compiler/add_object.go
  internal/ast/compiler/cloudwatch.go
  internal/ast/compiler/schema_set_entrypoint.go
  internal/yaml/compilerpasses.go
  schemas/compiler_passes.json
Labels: area:IR

#661 Support customizing how enums should be generated in Typescript
  helpers.go
  internal/jennies/typescript/apiref.go
  internal/jennies/typescript/builder.go
  internal/jennies/typescript/jennies.go
  internal/jennies/typescript/rawtypes.go
  internal/jennies/typescript/tools.go
  internal/jennies/typescript/types.go
  schemas/pipeline.json
Labels: language:typescript, area:jennies

#662 Fix defaults in Go for structs generated from a disjunction
  config/foundation_sdk.tests.yaml
  internal/jennies/golang/rawtypes.go
  internal/jennies/golang/tools.go
  testdata/generated/defaults/types_gen.go
  testdata/schemas/defaults/defaults.cue
Labels: area:jennies, go

#666 Fix empty values generated for maps and arrays in go
  internal/jennies/golang/builder.go
  internal/jennies/golang/builder_test.go
Labels: area:jennies, go

#667 Make the ComposeDashboardPanel builder veneer configurable
  config/veneers/dashboard.common.yaml
  internal/veneers/builder/rules.go
  internal/veneers/builder/selectors.go
  internal/yaml/builder.go
Labels: area:veneers

#612 Java: Converters
  internal/jennies/common/templatehelpers.go
  internal/jennies/java/converter.go
  internal/jennies/java/imports.go
  internal/jennies/java/jennies.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/registry.go
  internal/jennies/java/runtime.go
  internal/jennies/java/templates/converters/converter.tmpl
  internal/jennies/java/templates/converters/converter_runtime.tmpl
  internal/jennies/java/templates/converters/dataquery_converter.tmpl
  internal/jennies/java/templates/runtime/converter_interface.tmpl
  internal/jennies/java/templates/runtime/dataquery_config.tmpl
  internal/jennies/java/templates/runtime/panel_config.tmpl
  internal/jennies/java/templates/runtime/registry.tmpl
  internal/jennies/java/templates/types/assigments.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/tools.go
  internal/jennies/java/types.go
  internal/jennies/template/template.go
Labels: area:jennies, language:java

#672 Small cleanup in cog Go runtime
  internal/jennies/golang/runtime.go
  internal/jennies/golang/templates/runtime/tools.tmpl
  internal/jennies/golang/variantsplugins.go
Labels: language:golang, area:jennies
