Repository grafana/cog, pull requests merged in 2024-05, with the labels that each got.

#344 No pointers for composable slots in Go
  internal/jennies/golang/tmpl.go
Labels: language:golang, area:jennies

#345 Add a "RetypeObject" compiler pass
  internal/ast/compiler/retype_object.go
  internal/ast/compiler/retype_object_test.go
  internal/yaml/compilerpasses.go
Labels: area:IR

#347 Bump santhosh-tekuri/jsonschema to v5
  go.mod
  go.sum
  internal/jennies/jsonschema/jennies.go
  internal/jsonschema/generator.go
  internal/jsonschema/utils.go
Labels: area:parsers

#353 Escape identifiers in typescript
  examples/typescript/index.ts
  internal/jennies/typescript/builder.go
  internal/jennies/typescript/templates/args.tmpl
  internal/jennies/typescript/templates/builder.tmpl
  internal/jennies/typescript/tmpl.go
  internal/jennies/typescript/tools.go
Labels: language:typescript, area:jennies

#352 Support disabling OpenAPI spec validation
  cmd/cli/loaders/openapi.go
  internal/openapi/generator.go
Labels: area:parsers

#350 Proper generation of type aliases in python
  internal/jennies/python/types.go
  testdata/jennies/rawtypes/arrays/PythonRawTypes/models/arrays.py
  testdata/jennies/rawtypes/disjunctions/PythonRawTypes/models/disjunctions.py
  testdata/jennies/rawtypes/maps/PythonRawTypes/models/maps.py
  testdata/jennies/rawtypes/package-with-dashes/PythonRawTypes/models/with-dashes.py
  testdata/jennies/rawtypes/refs/PythonRawTypes/models/refs.py
  testdata/jennies/rawtypes/scalars/PythonRawTypes/models/scalars.py
Labels: area:jennies, language:python

#349 More defensive unmarshalling of panels in Go
  internal/jennies/golang/jsonmarshalling.go
  testdata/jennies/rawtypes/dashboard/GoJSONMarshalling/dashboard/types_json_marshalling_gen.go
Labels: area:jennies, go

#354 Add a veneer to duplicate an option under a new name
  internal/veneers/option/actions.go
  internal/veneers/option/actions_test.go
  internal/veneers/option/rules.go
  internal/yaml/option.go
Labels: area:veneers

#368 Define more veneers on dashboards/panels
  config/veneers/dashboard.common.yaml
Labels: area:veneers

#370 Define a compiler pass to simplify disjunctions with a scalar and a constant
  config/compiler/common_passes.yaml
  internal/ast/compiler/disjunction_with_constant_to_default.go
  internal/ast/compiler/disjunction_with_constant_to_default_test.go
  internal/yaml/compilerpasses.go
Labels: area:IR

#371 Support config parameters in inspect command
  cmd/cli/inspect/command.go
Labels: area:cli

#372 Fix cue parser to parse comments in CUE variant envelopes
  internal/simplecue/generator.go
Labels: area:parsers

#382 Stop embedding schemas in builders
  cmd/cli/generate/command.go
  internal/ast/builder.go
  internal/ast/schema.go
  internal/jennies/golang/builder.go
  internal/veneers/builder/rules.go
  internal/veneers/builder/rules_test.go
  internal/veneers/builder/selectors.go
  internal/veneers/builder/selectors_test.go
  internal/veneers/option/actions.go
  internal/veneers/option/actions_test.go
  internal/veneers/rewrite/rewrite.go
  internal/veneers/rewrite/rewrite_test.go
  testdata/jennies/builders/anonymous_struct/builders_context.json
  testdata/jennies/builders/array_append/builders_context.json
  testdata/jennies/builders/basic_struct/builders_context.json
  testdata/jennies/builders/basic_struct_defaults/builders_context.json
  testdata/jennies/builders/builder_delegation/builders_context.json
  testdata/jennies/builders/builder_delegation_in_disjunction/builders_context.json
  testdata/jennies/builders/composable_slot/builders_context.json
  testdata/jennies/builders/constant_assignment/builders_context.json
  testdata/jennies/builders/constraints/builders_context.json
  testdata/jennies/builders/constructor_argument/builders_context.json
  testdata/jennies/builders/constructor_initializations/builders_context.json
  testdata/jennies/builders/dataquery_variant_builder/builders_context.json
  testdata/jennies/builders/envelope_assignment/builders_context.json
  testdata/jennies/builders/foreign_builder/builders_context.json
  testdata/jennies/builders/initialization_safeguards/builders_context.json
  testdata/jennies/builders/known_any/builders_context.json
  testdata/jennies/builders/nullable_map_assignment/builders_context.json
  testdata/jennies/builders/package-with-dashes/builders_context.json
  testdata/jennies/builders/properties/builders_context.json
  testdata/jennies/builders/references/builders_context.json
  testdata/jennies/builders/struct_fields_as_args_assignment/builders_context.json
  testdata/jennies/builders/struct_with_defaults/builders_context.json
Labels: area:IR

#384 Improve tools to visit and modify the types IR
  internal/ast/compiler/add_fields.go
  internal/ast/compiler/add_fields_test.go
  internal/ast/compiler/disjunction_with_constant_to_default.go
  internal/ast/compiler/disjunctions.go
  internal/ast/compiler/disjunctions_infer_mapping.go
  internal/ast/compiler/disjunctions_of_anonymous_to_explicit.go
  internal/ast/compiler/disjunctions_with_null_to_optional.go
  internal/ast/compiler/fields_set_default.go
  internal/ast/compiler/fields_set_not_required.go
  internal/ast/compiler/fields_set_required.go
  internal/ast/compiler/filter_schemas.go
  internal/ast/compiler/flatten_disjunctions.go
  internal/ast/compiler/hint_object.go
  internal/ast/compiler/not_required_as_nullable.go
  internal/ast/compiler/retype_field.go
  internal/ast/compiler/retype_object.go
  internal/ast/compiler/types.go
  internal/ast/compiler/visitor.go
  internal/ast/schema.go
Labels: area:IR

#363 Java: Add default values for builders
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/nilcheck.tmpl
  internal/jennies/java/templates/veneers/assigment_Dashboard_WithPanel.tmpl
  internal/jennies/java/types.go
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/YetAnotherStruct.java
  testdata/jennies/rawtypes/struct_with_scalar_fields/JavaRawTypes/basic/SomeStruct.java
Labels: area:jennies, language:java

#364 Java: Generate builders for panels
  internal/jennies/java/builders.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/types/args.tmpl
  internal/jennies/java/templates/types/assigments.tmpl
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  internal/jennies/java/tools.go
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
Labels: area:jennies, language:java

#391 Configurable compact output for JSONSchema and OpenAPI
  cmd/cli/loaders/config.go
  internal/jennies/jsonschema/jennies.go
  internal/jennies/jsonschema/schema.go
  internal/jennies/jsonschema/schema_test.go
  internal/jennies/openapi/jennies.go
  internal/jennies/openapi/schema.go
  internal/jennies/openapi/schema_test.go
Labels: area:jennies

#397 Add a quick and dirty script to generate a list of configurable compiler passes
  Makefile
  cmd/compiler-passes-docs/main.go
  docs/compiler_passes.md
  internal/yaml/compilerpasses.go
Labels: documentation

#399 Update the schema metadata in DataqueryIdentification
  internal/ast/compiler/dataquery_identification.go
Labels: area:IR

#401 Expose a way to manually position panels in a dashboard
  config/veneers/dashboard.common.yaml
  internal/jennies/golang/templates/builders/veneers/assignment_Dashboard_withPanel.tmpl
  internal/jennies/golang/templates/builders/veneers/assignment_Dashboard_withRow.tmpl
  internal/jennies/java/templates/veneers/assigment_Dashboard_WithPanel.tmpl
  internal/jennies/python/templates/builders/veneers/assignment_Dashboard_withPanel.tmpl
  internal/jennies/python/templates/builders/veneers/assignment_Dashboard_withRow.tmpl
  internal/jennies/typescript/templates/veneers/assignment_Dashboard_withPanel.tmpl
  internal/jennies/typescript/templates/veneers/assignment_Dashboard_withRow.tmpl
Labels: area:veneers

#402 Correctly generate `bytes` scalar type in Go
  internal/jennies/golang/types.go
  testdata/jennies/rawtypes/disjunctions/GoRawTypes/disjunctions/types_gen.go
  testdata/jennies/rawtypes/struct_with_scalar_fields/GoRawTypes/basic/types_gen.go
Labels: language:golang, area:jennies

#407 Generate type and (un)marshal functions in a single file in Go
  internal/jennies/golang/jennies.go
  internal/jennies/golang/jsonmarshalling.go
  internal/jennies/golang/jsonmarshalling_test.go
  internal/jennies/golang/rawtypes.go
  testdata/jennies/rawtypes/dashboard/GoJSONMarshalling/dashboard/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/dashboard/GoRawTypes/dashboard/types_gen.go
  testdata/jennies/rawtypes/disjunctions/GoJSONMarshalling/disjunctions/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/disjunctions/GoRawTypes/disjunctions/types_gen.go
  testdata/jennies/rawtypes/package-with-dashes/GoJSONMarshalling/withdashes/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/package-with-dashes/GoRawTypes/withdashes/types_gen.go
  testdata/jennies/rawtypes/struct_with_complex_fields/GoJSONMarshalling/struct_complex_fields/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/struct_with_complex_fields/GoRawTypes/struct_complex_fields/types_gen.go
  testdata/jennies/rawtypes/variant_dataquery/GoJSONMarshalling/variant_dataquery/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/variant_dataquery/GoRawTypes/variant_dataquery/types_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_full/GoJSONMarshalling/variant_panelcfg_full/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_full/GoRawTypes/variant_panelcfg_full/types_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_only_options/GoJSONMarshalling/variant_panelcfg_only_options/types_json_marshalling_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_only_options/GoRawTypes/variant_panelcfg_only_options/types_gen.go
Labels: language:golang, area:jennies

#409 Add an option to disable runtime-related codegen in Go
  internal/jennies/golang/jennies.go
  internal/jennies/golang/runtime.go
Labels: language:golang, area:jennies

#413 Fix parsing of maps of string to any from Cue
  config/compiler/kind_registry.yaml
  examples/_go/main.go
  internal/ast/compiler/disjunctions.go
  internal/ast/types.go
  internal/ast/types_test.go
  internal/jennies/golang/templates/types/disjunction_of_scalars.json_unmarshal.tmpl
  internal/simplecue/generator.go
  internal/simplecue/utils.go
  testdata/simplecue/arrays/GenerateAST/ir.json
  testdata/simplecue/arrays/schema.cue
  testdata/simplecue/maps/GenerateAST/ir.json
  testdata/simplecue/maps/schema.cue
  testdata/simplecue/refs/GenerateAST/ir.json
  testdata/simplecue/refs/schema.cue
  testdata/simplecue/scalars/schema.cue
  testdata/simplecue/time/GenerateAST/ir.json
Labels: area:parsers

#414 Fix fields parsing from enveloped types in CUE
  internal/simplecue/generator.go
Labels: area:parsers

#412 Add an option to skip runtime generation for all languages
  cmd/cli/codegen/output.go
  cmd/cli/codegen/pipeline.go
  internal/jennies/golang/jennies.go
  internal/jennies/java/jennies.go
  internal/jennies/python/jennies.go
  internal/jennies/typescript/builder_test.go
  internal/jennies/typescript/jennies.go
  internal/jennies/typescript/rawtypes_test.go
Labels: area:jennies

#416 Add an "AppendCommentObjects" compiler pass
  internal/ast/compiler/append_comment_objects.go
  internal/ast/compiler/append_comment_objects_test.go
Labels: area:IR

#417 Better support for cue schemas with a forced named envelope
  cmd/cli/codegen/cue.go
  cmd/cli/codegen/kindsyscomposable.go
  cmd/cli/codegen/kindsyscore.go
  internal/simplecue/generator.go
Labels: area:parsers

#418 Add a compiler pass to turn undiscriminated disjunctions to any
  internal/ast/compiler/disjunctions_infer_mapping.go
  internal/ast/compiler/disjunctions_infer_mapping_test.go
  internal/ast/compiler/undiscriminated_disjunctions_to_any.go
  internal/ast/compiler/undiscriminated_disjunctions_to_any_test.go
  internal/ast/types.go
  internal/jennies/golang/jennies.go
Labels: area:IR

#419 Add an option to skip index.ts files generation in Typescript
  internal/jennies/typescript/jennies.go
Labels: language:typescript, area:jennies
