Repository grafana/cog, pull requests merged in 2024-07, with the labels that each got.

#478 Java: Example
  .github/workflows/ci.yaml
  examples/java/CPU.java
  examples/java/Common.java
  examples/java/Disk.java
  examples/java/Logs.java
  examples/java/Main.java
  examples/java/Memory.java
  examples/java/Network.java
  internal/jennies/java/pom.go
Labels: language:java

#496 Correctly parse inline definitions in cue
  internal/simplecue/generator.go
  testdata/simplecue/refs/GenerateAST/ir.json
  testdata/simplecue/refs/schema.cue
Labels: area:parsers

#500 Java: Move to gradle
  .github/workflows/ci.yaml
  config/foundation_sdk.dev.yaml
  internal/jennies/java/gradle.go
  internal/jennies/java/jennies.go
  internal/jennies/java/jsonmarshalling.go
  internal/jennies/java/pom.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/gradle/build.gradle
  internal/jennies/java/templates/gradle/gradle.properties
  internal/jennies/java/templates/gradle/settings.gradle
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Variable.java
  testdata/jennies/builders/foreign_builder/JavaBuilders/some_pkg/SomeStruct.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/LegendOptions.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/Options.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/Config.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/package-with-dashes/JavaBuilders/withdashes/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/Options.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/other_pkg/Name.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#501 Java: Move example into gradle project
  .github/workflows/ci.yaml
  examples/java/build.gradle
  examples/java/src/main/java/test/CPU.java
  examples/java/src/main/java/test/Common.java
  examples/java/src/main/java/test/Disk.java
  examples/java/src/main/java/test/Logs.java
  examples/java/src/main/java/test/Main.java
  examples/java/src/main/java/test/Memory.java
  examples/java/src/main/java/test/Network.java
Labels: area:jennies, language:java

#502 Java: Style fixes
  examples/java/src/main/java/test/CPU.java
  examples/java/src/main/java/test/Common.java
  examples/java/src/main/java/test/Disk.java
  examples/java/src/main/java/test/Logs.java
  examples/java/src/main/java/test/Main.java
  examples/java/src/main/java/test/Memory.java
  examples/java/src/main/java/test/Network.java
  internal/jennies/java/builders.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/marshalling/disjunctions.json_marshall.tmpl
  internal/jennies/java/templates/marshalling/marshalling.tmpl
  internal/jennies/java/templates/runtime/builder.tmpl
  internal/jennies/java/templates/types/assigments.tmpl
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  internal/jennies/java/types.go
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Variable.java
  testdata/jennies/builders/foreign_builder/JavaBuilders/some_pkg/SomeStruct.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/LegendOptions.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/Options.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/Config.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/package-with-dashes/JavaBuilders/withdashes/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/Options.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/other_pkg/Name.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#503 Java: Fix enum unmarshalling
  internal/jennies/java/templates/types/enum.tmpl
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/CursorMode.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/DashboardCursorSync.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/LogsSortOrder.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/Operator.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/TableSortOrder.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeStructOperator.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeStructOperator.java
Labels: area:jennies, language:java

#499 Java: Register and deserialisers
  internal/ast/compiler/remove_intersections.go
  internal/jennies/java/deserializers.go
  internal/jennies/java/jennies.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/registry.go
  internal/jennies/java/templates/marshalling/disjunctions_of_refs.json_unmarshall.tmpl
  internal/jennies/java/templates/marshalling/disjunctions_of_scalars.json_unmarshall.tmpl
  internal/jennies/java/templates/marshalling/unmarshalling.tmpl
  internal/jennies/java/templates/runtime/empty_dataquery.tmpl
  internal/jennies/java/templates/runtime/panel_config.tmpl
  internal/jennies/java/templates/runtime/registry.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/tools.go
  internal/jennies/java/types.go
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/CursorMode.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/LogsSortOrder.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/Operator.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/TableSortOrder.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeStructOperator.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeStructOperator.java
Labels: area:jennies, language:java

#506 Java: Initialise all gridPos values
  internal/jennies/java/templates/veneers/assigment_Dashboard_WithPanel.tmpl
Labels: area:jennies, language:java

#508 Java: Add empty dataquery serializer
  internal/jennies/java/registry.go
  internal/jennies/java/templates/runtime/empty_dataquery.tmpl
  internal/jennies/java/templates/runtime/empty_dataquery_serializer.tmpl
Labels: area:jennies, language:java

#509 Java: Iterate correct json field for dataqueries
  internal/jennies/java/registry.go
  internal/jennies/java/templates/marshalling/unmarshalling.tmpl
  internal/jennies/java/templates/runtime/empty_dataquery_serializer.tmpl
  internal/jennies/java/templates/runtime/unknown_dataquery.tmpl
  internal/jennies/java/templates/runtime/unknown_dataquery_serializer.tmpl
Labels: area:jennies, language:java

#433 Java: Publishing to foundation-sdk
  config/foundation_sdk.yaml
  internal/jennies/java/jennies.go
  package_templates/java/LICENSE.md
  package_templates/java/README.md
  package_templates/java/build.gradle
  package_templates/java/gradle.properties
  package_templates/java/settings.gradle
  repository_templates/java/.github/workflows/java-ci.yaml
  repository_templates/java/.github/workflows/java-release.yaml
Labels: language:java

#510 Java: Fix release templates
  .github/workflows/ci.yaml
  repository_templates/java/.github/workflows/java-ci.yaml
  repository_templates/java/.github/workflows/java-release.yaml
Labels: area:jennies, language:java
