Repository grafana/cog, pull requests merged in 2024-06, with the labels that each got.

#436 Add more values to the list of reserved go keywords
  internal/jennies/golang/tools.go
Labels: language:golang, area:jennies

#437 Use constructor functions to create struct fields
  internal/ast/compiler/disjunctions.go
  internal/jsonschema/generator.go
  internal/openapi/generator.go
  internal/simplecue/generator.go
Labels: area:parsers, area:IR

#434 Builders: Tests for panel builders
  internal/jennies/java/templates/types/panel_builder.tmpl
  testdata/jennies/builders/panel_builders/GoBuilder/panelbuilder/panel_builder_gen.go
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/Options.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/panel_builders/PythonBuilder/builders/panelbuilder.py
  testdata/jennies/builders/panel_builders/TypescriptBuilder/src/panelbuilder/panelBuilder.gen.ts
  testdata/jennies/builders/panel_builders/builders_context.json
Labels: area:jennies

#447 Java: Use schema object name to create the map of builders
  internal/jennies/java/builders.go
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/panel_builders/GoBuilder/panelbuilder/panel_builder_gen.go
  testdata/jennies/builders/panel_builders/PythonBuilder/builders/panelbuilder.py
  testdata/jennies/builders/panel_builders/TypescriptBuilder/src/panelbuilder/panelBuilder.gen.ts
  testdata/jennies/builders/panel_builders/builders_context.json
Labels: area:jennies, language:java

#451 Support custom object naming strategies in cue parser
  internal/codegen/cue.go
  internal/simplecue/generator.go
  internal/simplecue/generator_test.go
Labels: area:parsers

#449 Java: Allow to skip builders generation
  internal/jennies/java/builders.go
  internal/jennies/java/builders_test.go
  internal/jennies/java/jennies.go
Labels: area:jennies, language:java

#453 Add InlineScalarAliases compiler pass
  internal/ast/compiler/inline_scalar_aliases.go
  internal/ast/compiler/inline_scalar_aliases_test.go
  internal/ast/compiler/utils_test.go
  schemas/pipeline.json
Labels: area:IR

#457 Java: Fix multiple constructors names
  internal/jennies/java/templates/types/builder.tmpl
Labels: area:jennies, language:java

#456 Java: Fix constant assignments
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/types/assigments.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/types.go
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
Labels: area:jennies, language:java

#458 Java: Fix veneers templates
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/class.tmpl
Labels: area:veneers, language:java

#441 Java: Add builder's implementation
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#452 Java: Fix reference defaults
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/tools.go
  internal/veneers/option/actions.go
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#471 Begin Terraform datasource implementation
  internal/codegen/output.go
  internal/codegen/pipeline.go
  internal/jennies/terraform/jennies.go
  internal/jennies/terraform/models.go
  internal/jennies/terraform/models_test.go
  internal/jennies/terraform/templates/types/models.tmpl
  internal/jennies/terraform/tmpl.go
  internal/jennies/terraform/tools.go
  internal/orderedmap/map.go
  testdata/jennies/rawtypes/arrays/TerraformModels/arrays/models_gen.go
  testdata/jennies/rawtypes/dashboard/TerraformModels/dashboard/models_gen.go
  testdata/jennies/rawtypes/disjunctions/TerraformModels/disjunctions/models_gen.go
  testdata/jennies/rawtypes/enums/TerraformModels/enums/models_gen.go
  testdata/jennies/rawtypes/field_with_struct_with_defaults/TerraformModels/defaults/models_gen.go
  testdata/jennies/rawtypes/intersections/TerraformModels/intersections/models_gen.go
  testdata/jennies/rawtypes/maps/TerraformModels/maps/models_gen.go
  testdata/jennies/rawtypes/package-with-dashes/TerraformModels/withdashes/models_gen.go
  testdata/jennies/rawtypes/refs/TerraformModels/refs/models_gen.go
  testdata/jennies/rawtypes/scalars/TerraformModels/scalars/models_gen.go
  testdata/jennies/rawtypes/struct_with_complex_fields/TerraformModels/struct_complex_fields/models_gen.go
  testdata/jennies/rawtypes/struct_with_defaults/TerraformModels/defaults/models_gen.go
  testdata/jennies/rawtypes/struct_with_optional_fields/TerraformModels/struct_optional_fields/models_gen.go
  testdata/jennies/rawtypes/struct_with_scalar_fields/TerraformModels/basic/models_gen.go
  testdata/jennies/rawtypes/time_hint/TerraformModels/time_hint/models_gen.go
  testdata/jennies/rawtypes/variant_dataquery/TerraformModels/variant_dataquery/models_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_full/TerraformModels/variant_panelcfg_full/models_gen.go
  testdata/jennies/rawtypes/variant_panelcfg_only_options/TerraformModels/variant_panelcfg_only_options/models_gen.go
Labels: area:jennies, language:terraform

#472 Compiler: Fix testdata datasource name
  config/compiler/testdata_passes.yaml
Labels: area:veneers

#476 Java: Fix dataquery implementations
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
Labels: area:jennies, language:java

#475 Java: Remove set prefixes
  internal/jennies/java/builders.go
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/enum.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/CursorMode.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/DashboardCursorSync.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/LogsSortOrder.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/Operator.java
  testdata/jennies/rawtypes/enums/JavaRawTypes/enums/TableSortOrder.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeStructOperator.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeStructOperator.java
Labels: area:jennies, language:java

#477 Java: Initialise properties and null-checks
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/veneers/assigment_Dashboard_WithPanel.tmpl
  internal/jennies/java/types.go
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
Labels: area:jennies, language:java

#485 Java: Fix aliases
  internal/ast/compiler/remove_intersections.go
  internal/jennies/java/types.go
Labels: area:jennies, language:java

#487 Fix constants generation in PHP
  examples/php/index.php
  internal/jennies/php/rawtypes.go
  testdata/jennies/rawtypes/struct_with_complex_fields/PHPRawTypes/src/StructComplexFields/ConnectionPath.php
  testdata/jennies/rawtypes/struct_with_complex_fields/PHPRawTypes/src/StructComplexFields/Constants.php
Labels: area:jennies, language:php

#492 Move the composer.json file at the repository's root
  repository_templates/php/composer.json
  scripts/release-version.sh
Labels: area:jennies, language:php

#493 Fix PHP CI in foundation-sdk
  repository_templates/php/.github/workflows/php-ci.yaml
Labels: language:php

#495 Java: Capitalise build function
  internal/jennies/java/builders.go
  internal/jennies/java/templates/runtime/builder.tmpl
  internal/jennies/java/templates/types/assigments.tmpl
  internal/jennies/java/templates/types/builder.tmpl
  internal/jennies/java/templates/types/panel_builder.tmpl
  internal/jennies/java/types.go
  testdata/jennies/builders/anonymous_struct/JavaBuilders/anonymous_struct/SomeStruct.java
  testdata/jennies/builders/array_append/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/basic_struct/JavaBuilders/basic_struct/SomeStruct.java
  testdata/jennies/builders/basic_struct_defaults/JavaBuilders/basic_struct_defaults/SomeStruct.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/Dashboard.java
  testdata/jennies/builders/builder_delegation/JavaBuilders/builder_delegation/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/Dashboard.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/DashboardLink.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilders/builder_delegation_in_disjunction/ExternalLink.java
  testdata/jennies/builders/composable_slot/JavaBuilders/composable_slot/Dashboard.java
  testdata/jennies/builders/constant_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constraints/JavaBuilders/constraints/SomeStruct.java
  testdata/jennies/builders/constructor_argument/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/constructor_initializations/JavaBuilders/constructor_initializations/SomePanel.java
  testdata/jennies/builders/dataquery_variant_builder/JavaBuilders/dataquery_variant_builder/Loki.java
  testdata/jennies/builders/envelope_assignment/JavaBuilders/sandbox/Dashboard.java
  testdata/jennies/builders/initialization_safeguards/JavaBuilders/initialization_safeguards/SomePanel.java
  testdata/jennies/builders/known_any/JavaBuilders/known_any/SomeStruct.java
  testdata/jennies/builders/nullable_map_assignment/JavaBuilders/nullable_map_assignment/SomeStruct.java
  testdata/jennies/builders/panel_builders/JavaBuilders/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/properties/JavaBuilders/properties/SomeStruct.java
  testdata/jennies/builders/references/JavaBuilders/some_pkg/Person.java
  testdata/jennies/builders/struct_fields_as_args_assignment/JavaBuilders/sandbox/SomeStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/NestedStruct.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilders/struct_with_defaults/Struct.java
Labels: area:jennies, language:java

#494 Java: Marshalling
  internal/jennies/java/jsonmarshalling.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/marshalling/disjunctions.json_marshall.tmpl
  internal/jennies/java/templates/marshalling/marshalling.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/tools.go
Labels: area:jennies, language:java
