Repository grafana/cog, pull requests merged in 2025-04, with the labels that each got.

#794 Generate an empty value for required arrays/maps in Go
  internal/jennies/golang/rawtypes.go
  internal/jennies/golang/tools.go
  testdata/generated/equality/types_gen.go
  testdata/generated/validation/types_gen.go
  testdata/jennies/rawtypes/constraints/GoRawTypes/constraints/types_gen.go
  testdata/jennies/rawtypes/field_with_struct_with_defaults/GoRawTypes/defaults/types_gen.go
  testdata/jennies/rawtypes/struct_with_complex_fields/GoRawTypes/struct_complex_fields/types_gen.go
Labels: bug, language:golang, area:jennies

#796 Fix PHP jsonSerialize() methods to return correct outputs for empty objects
  internal/jennies/php/rawtypes.go
  testdata/jennies/rawtypes/arrays/PHPRawTypes/src/Arrays/SomeStruct.php
  testdata/jennies/rawtypes/constant_references/PHPRawTypes/src/ConstantReferences/ParentStruct.php
  testdata/jennies/rawtypes/constant_references/PHPRawTypes/src/ConstantReferences/Struct.php
  testdata/jennies/rawtypes/constant_references/PHPRawTypes/src/ConstantReferences/StructA.php
  testdata/jennies/rawtypes/constant_references/PHPRawTypes/src/ConstantReferences/StructB.php
  testdata/jennies/rawtypes/constraints/PHPRawTypes/src/Constraints/RefStruct.php
  testdata/jennies/rawtypes/constraints/PHPRawTypes/src/Constraints/SomeStruct.php
  testdata/jennies/rawtypes/dashboard/PHPRawTypes/src/Dashboard/Dashboard.php
  testdata/jennies/rawtypes/dashboard/PHPRawTypes/src/Dashboard/DataSourceRef.php
  testdata/jennies/rawtypes/dashboard/PHPRawTypes/src/Dashboard/FieldConfig.php
  testdata/jennies/rawtypes/dashboard/PHPRawTypes/src/Dashboard/FieldConfigSource.php
  testdata/jennies/rawtypes/dashboard/PHPRawTypes/src/Dashboard/Panel.php
  testdata/jennies/rawtypes/disjunctions/PHPRawTypes/src/Disjunctions/SomeOtherStruct.php
  testdata/jennies/rawtypes/disjunctions/PHPRawTypes/src/Disjunctions/SomeStruct.php
  testdata/jennies/rawtypes/disjunctions/PHPRawTypes/src/Disjunctions/YetAnotherStruct.php
  testdata/jennies/rawtypes/field_with_struct_with_defaults/PHPRawTypes/src/Defaults/DefaultsStructComplexField.php
  testdata/jennies/rawtypes/field_with_struct_with_defaults/PHPRawTypes/src/Defaults/DefaultsStructComplexFieldNested.php
  testdata/jennies/rawtypes/field_with_struct_with_defaults/PHPRawTypes/src/Defaults/DefaultsStructPartialComplexField.php
  testdata/jennies/rawtypes/field_with_struct_with_defaults/PHPRawTypes/src/Defaults/NestedStruct.php
  testdata/jennies/rawtypes/field_with_struct_with_defaults/PHPRawTypes/src/Defaults/Struct.php
  testdata/jennies/rawtypes/maps/PHPRawTypes/src/Maps/SomeStruct.php
  testdata/jennies/rawtypes/package-with-dashes/PHPRawTypes/src/Withdashes/SomeStruct.php
  testdata/jennies/rawtypes/refs/PHPRawTypes/src/Refs/SomeStruct.php
  testdata/jennies/rawtypes/struct_with_complex_fields/PHPRawTypes/src/StructComplexFields/SomeOtherStruct.php
  testdata/jennies/rawtypes/struct_with_complex_fields/PHPRawTypes/src/StructComplexFields/SomeStruct.php
  testdata/jennies/rawtypes/struct_with_complex_fields/PHPRawTypes/src/StructComplexFields/StructComplexFieldsSomeStructFieldAnonymousStruct.php
  testdata/jennies/rawtypes/struct_with_defaults/PHPRawTypes/src/Defaults/SomeStruct.php
  testdata/jennies/rawtypes/struct_with_optional_fields/PHPRawTypes/src/StructOptionalFields/SomeOtherStruct.php
  testdata/jennies/rawtypes/struct_with_optional_fields/PHPRawTypes/src/StructOptionalFields/SomeStruct.php
  testdata/jennies/rawtypes/struct_with_optional_fields/PHPRawTypes/src/StructOptionalFields/StructOptionalFieldsSomeStructFieldAnonymousStruct.php
  testdata/jennies/rawtypes/struct_with_scalar_fields/PHPRawTypes/src/Basic/SomeStruct.php
  testdata/jennies/rawtypes/time_hint/PHPRawTypes/src/TimeHint/ObjWithTimeField.php
  testdata/jennies/rawtypes/variant_dataquery/PHPRawTypes/src/VariantDataquery/Query.php
  testdata/jennies/rawtypes/variant_panelcfg_full/PHPRawTypes/src/VariantPanelcfgFull/FieldConfig.php
  testdata/jennies/rawtypes/variant_panelcfg_full/PHPRawTypes/src/VariantPanelcfgFull/Options.php
  testdata/jennies/rawtypes/variant_panelcfg_only_options/PHPRawTypes/src/VariantPanelcfgOnlyOptions/Options.php
Labels: area:jennies, language:php

#799 Documentation: Add Java references
  internal/jennies/java/apiref.go
  internal/jennies/java/builder.go
  internal/jennies/java/builder_test.go
  internal/jennies/java/jennies.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/types.go
Labels: documentation, language:java

#801 Java: Fix List arguments of builders
  internal/jennies/java/templates/builders/assigments.tmpl
  internal/jennies/java/types.go
  testdata/jennies/builders/builder_delegation/JavaBuilder/builder_delegation/DashboardBuilder.java
  testdata/jennies/builders/builder_delegation_in_disjunction/JavaBuilder/builder_delegation_in_disjunction/DashboardBuilder.java
  testdata/jennies/builders/composable_slot/JavaBuilder/composable_slot/LokiBuilderBuilder.java
  testdata/jennies/builders/factories/JavaBuilder/promql/FuncCallExprBuilder.java
  testdata/jennies/builders/map_of_builders/JavaBuilder/map_of_builders/DashboardBuilder.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilder/struct_with_defaults/StructBuilder.java
  testdata/jennies/rawtypes/constant_references/JSONSchema/constant_references.jsonschema.json
  testdata/jennies/rawtypes/constant_references/OpenAPI/constant_references.openapi.json
  testdata/jennies/rawtypes/constant_references/PythonRawTypes/models/constant_references.py
  testdata/jennies/rawtypes/constant_references/TypescriptRawTypes/src/constantReferences/types.gen.ts
Labels: bug, language:java
