Repository grafana/cog, pull requests merged in 2025-01, with the labels that each got.

#688 Java: Update converters with new builder's names and fixes
  internal/jennies/java/converter.go
  internal/jennies/java/templates/converters/converter.tmpl
  internal/jennies/java/templates/converters/converter_runtime.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/template/template.go
Labels: area:jennies, language:java

#693 Java: Move defaults from builder into default constructor
  internal/jennies/java/builder.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/templates/builders/builder.tmpl
  internal/jennies/java/templates/types/class.tmpl
  internal/jennies/java/tmpl.go
  internal/jennies/java/tools.go
  internal/jennies/java/types.go
  testdata/jennies/builders/basic_struct_defaults/JavaBuilder/basic_struct_defaults/SomeStructBuilder.java
  testdata/jennies/builders/dashboard_panel/JavaBuilder/dashboard/PanelBuilder.java
  testdata/jennies/builders/panel_builders/JavaBuilder/panelbuilder/PanelBuilder.java
  testdata/jennies/builders/struct_with_defaults/JavaBuilder/struct_with_defaults/StructBuilder.java
  testdata/jennies/rawtypes/arrays/JavaRawTypes/arrays/SomeStruct.java
  testdata/jennies/rawtypes/constraints/JavaRawTypes/constraints/RefStruct.java
  testdata/jennies/rawtypes/constraints/JavaRawTypes/constraints/SomeStruct.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/Dashboard.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/DataSourceRef.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/FieldConfig.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/FieldConfigSource.java
  testdata/jennies/rawtypes/dashboard/JavaRawTypes/dashboard/Panel.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/BoolOrRef.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/SomeOtherStruct.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/SomeStruct.java
  testdata/jennies/rawtypes/disjunctions/JavaRawTypes/disjunctions/YetAnotherStruct.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructComplexField.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructComplexFieldNested.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/DefaultsStructPartialComplexField.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/NestedStruct.java
  testdata/jennies/rawtypes/field_with_struct_with_defaults/JavaRawTypes/defaults/Struct.java
  testdata/jennies/rawtypes/intersections/JavaRawTypes/intersections/SomeStruct.java
  testdata/jennies/rawtypes/maps/JavaRawTypes/maps/SomeStruct.java
  testdata/jennies/rawtypes/package-with-dashes/JavaRawTypes/withdashes/SomeStruct.java
  testdata/jennies/rawtypes/refs/JavaRawTypes/refs/RefToSomeStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/StringOrSomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_complex_fields/JavaRawTypes/struct_complex_fields/StructComplexFieldsSomeStructFieldAnonymousStruct.java
  testdata/jennies/rawtypes/struct_with_defaults/JavaRawTypes/defaults/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeOtherStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/SomeStruct.java
  testdata/jennies/rawtypes/struct_with_optional_fields/JavaRawTypes/struct_optional_fields/StructOptionalFieldsSomeStructFieldAnonymousStruct.java
  testdata/jennies/rawtypes/struct_with_scalar_fields/JavaRawTypes/basic/SomeStruct.java
  testdata/jennies/rawtypes/time_hint/JavaRawTypes/time_hint/ObjWithTimeField.java
  testdata/jennies/rawtypes/variant_dataquery/JavaRawTypes/variant_dataquery/Query.java
  testdata/jennies/rawtypes/variant_panelcfg_full/JavaRawTypes/variant_panelcfg_full/FieldConfig.java
  testdata/jennies/rawtypes/variant_panelcfg_full/JavaRawTypes/variant_panelcfg_full/Options.java
  testdata/jennies/rawtypes/variant_panelcfg_only_options/JavaRawTypes/variant_panelcfg_only_options/Options.java
Labels: area:jennies, language:java

#697 Also add prefix to enum member names in PrefixObjectNames compiler pass
  internal/ast/compiler/prefix_object_names_test.go
  internal/ast/compiler/prefix_objects_names.go
Labels: area:IR

#702 Sort constants in java to ensure a deterministic output
  internal/jennies/java/rawtypes.go
Labels: area:jennies, language:java

#701 Define an "AddComments" option veneer
  docs/compiler_passes.md
  internal/veneers/option/actions.go
  internal/veneers/option/rules.go
  internal/yaml/option.go
  schemas/veneers.json
Labels: area:veneers

#711 Configurable filepath prefix in typescript
  internal/jennies/typescript/builder.go
  internal/jennies/typescript/builder_test.go
  internal/jennies/typescript/index.go
  internal/jennies/typescript/jennies.go
  internal/jennies/typescript/rawtypes.go
  internal/jennies/typescript/rawtypes_test.go
  internal/jennies/typescript/runtime.go
  internal/jennies/typescript/runtime_test.go
  internal/tools/types.go
  schemas/pipeline.json
Labels: language:typescript, area:jennies

#712 Add an option allowing to emit `any` types as `interface{}` in Go
  helpers.go
  internal/jennies/golang/builder_test.go
  internal/jennies/golang/converter_test.go
  internal/jennies/golang/jennies.go
  internal/jennies/golang/rawtypes_test.go
  internal/jennies/golang/templates/types/disjunction_of_refs.json_unmarshal.tmpl
  internal/jennies/golang/templates/types/disjunction_of_refs.strict.json_unmarshal.tmpl
  internal/jennies/golang/tmpl.go
  internal/jennies/golang/types.go
  schemas/pipeline.json
Labels: language:golang, area:jennies

#713 Fix array parsing for jsonschema draft 2020
  internal/jsonschema/generator.go
  internal/jsonschema/generator_test.go
Labels: area:parsers

#716 Split docs publishing out of the release pipeline
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Labels: documentation

#718 Fix package override via configuration in cue
  internal/simplecue/generator.go
  internal/simplecue/generator_test.go
  internal/simplecue/referenceresolver.go
  testdata/simplecue/nested_disjunctions/GenerateAST/ir.json
  testdata/simplecue/nested_disjunctions/schema.cue
Labels: area:parsers

#726 Ensure a consistent pass trail for the HintObject pass
  internal/ast/compiler/hint_object.go
Labels: area:IR

#724 Better handling of disjunctions in builders for python
  internal/jennies/python/builder.go
  internal/jennies/python/templates/builders/assignment.tmpl
  internal/jennies/python/tmpl.go
  testdata/jennies/builders/builder_delegation_in_disjunction/PythonBuilder/builders/builder_delegation_in_disjunction.py
Labels: area:jennies, language:python

#728 Fix incorrectly formatted Java object name when used as empty value
  internal/jennies/java/types.go
Labels: area:jennies, language:java

#730 Turn the ComposeBuilders veneer into a noop if the source builder is …
  internal/veneers/builder/rules.go
Labels: area:veneers

#731 Update the DisjunctionAsOptions option veneer to work on any argument
  internal/veneers/option/actions.go
  internal/veneers/option/actions_test.go
  internal/veneers/option/rules.go
  internal/yaml/option.go
  schemas/veneers.json
Labels: area:veneers

#733 Support preserving the original builders in ComposeBuilders veneer
  internal/veneers/builder/rules.go
  internal/yaml/builder.go
  schemas/veneers.json
Labels: area:veneers

#737 Fix ComposeBuilders veneer yaml config
  internal/yaml/builder.go
  schemas/veneers.json
Labels: bug, area:veneers
