Repository grafana/cog, pull requests merged in 2025-05, with the labels that each got.

#806 Fix generated options reference in java
  internal/jennies/java/apiref.go
Labels: language:java

#807 Java type constructors shouldn't use builders
  internal/jennies/java/builder.go
  internal/jennies/java/rawtypes.go
  internal/jennies/java/types.go
Labels: bug, area:jennies, language:java

#808 Go: Fix error propagation
  examples/_go_alerting/main.go
  internal/jennies/golang/templates/builders/assignment.tmpl
  internal/jennies/golang/templates/builders/builder.tmpl
  testdata/jennies/builders/anonymous_struct/GoBuilder/anonymous_struct/somestruct_builder_gen.go
  testdata/jennies/builders/array_append/GoBuilder/sandbox/somestruct_builder_gen.go
  testdata/jennies/builders/basic_struct/GoBuilder/basic_struct/somestruct_builder_gen.go
  testdata/jennies/builders/basic_struct_defaults/GoBuilder/basic_struct_defaults/somestruct_builder_gen.go
  testdata/jennies/builders/builder_delegation/GoBuilder/builder_delegation/dashboard_builder_gen.go
  testdata/jennies/builders/builder_delegation/GoBuilder/builder_delegation/dashboardlink_builder_gen.go
  testdata/jennies/builders/composable_slot/GoBuilder/composable_slot/lokibuilder_builder_gen.go
  testdata/jennies/builders/constant_assignment/GoBuilder/sandbox/somestruct_builder_gen.go
  testdata/jennies/builders/constraints/GoBuilder/constraints/somestruct_builder_gen.go
  testdata/jennies/builders/constructor_argument/GoBuilder/sandbox/somestruct_builder_gen.go
  testdata/jennies/builders/constructor_initializations/GoBuilder/constructor_initializations/somepanel_builder_gen.go
  testdata/jennies/builders/dataquery_variant_builder/GoBuilder/dataquery_variant_builder/lokibuilder_builder_gen.go
  testdata/jennies/builders/envelope_assignment/GoBuilder/sandbox/dashboard_builder_gen.go
  testdata/jennies/builders/factories/GoBuilder/promql/funccallexpr_builder_gen.go
  testdata/jennies/builders/foreign_builder/GoBuilder/builder_pkg/somenicebuilder_builder_gen.go
  testdata/jennies/builders/initialization_safeguards/GoBuilder/initialization_safeguards/somepanel_builder_gen.go
  testdata/jennies/builders/known_any/GoBuilder/known_any/somestruct_builder_gen.go
  testdata/jennies/builders/map_index_assignment/GoBuilder/sandbox/somestruct_builder_gen.go
  testdata/jennies/builders/map_of_builders/GoBuilder/map_of_builders/dashboard_builder_gen.go
  testdata/jennies/builders/map_of_builders/GoBuilder/map_of_builders/panel_builder_gen.go
  testdata/jennies/builders/nullable_map_assignment/GoBuilder/nullable_map_assignment/somestruct_builder_gen.go
  testdata/jennies/builders/package-with-dashes/GoBuilder/builderpkg/somenicebuilder_builder_gen.go
  testdata/jennies/builders/panel_builders/GoBuilder/panelbuilder/panel_builder_gen.go
  testdata/jennies/builders/properties/GoBuilder/properties/somestruct_builder_gen.go
  testdata/jennies/builders/references/GoBuilder/some_pkg/person_builder_gen.go
  testdata/jennies/builders/struct_fields_as_args_assignment/GoBuilder/sandbox/somestruct_builder_gen.go
  testdata/jennies/builders/struct_with_defaults/GoBuilder/struct_with_defaults/nestedstruct_builder_gen.go
  testdata/jennies/builders/struct_with_defaults/GoBuilder/struct_with_defaults/struct_builder_gen.go
Labels: bug, go
